{% extends 'base.html' %}

{% block title %}Dashboard - Tution centre Management WebApp{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center my-4">Welcome to Tution centre Management WebApp Dashboard</h2>
</div>
<a href="{% url 'student_registration' %}">
    <button>Register a Student</button>
</a>
<a href="{% url 'payment_tracking' %}" class="btn btn-primary mt-3">Go to Payment Tracking</a>
<a href="{% url 'student_details' %}" class="btn btn-secondary mt-3">View Student Details</a>
{% endblock %}
